body{
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    text-align:center;

    background-color: black;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

header{
    font-weight: 300;
    display: flex;
}

h1{
    padding: 0px 25px;
}

#nav{
    padding: 7px;
    display: flex;
    list-style: none;
    margin-left:auto;
    margin-right:5%;
}

li{
    padding: 10px;
}

#heading{
    padding: 5px;
}


#about{
    margin:10rem auto;
    font-size:x-large;   
}

#link{
    margin-top: 15rem;
}

#skill{
    margin-bottom: 5rem;
}

a{
    color:white;
    text-decoration: none;
    font-weight:200;
    transition-duration: 0.2s;
}

a:hover{
    color: blue;
}

.container{
    margin-top:5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color:rgb(27, 27, 27);
}


.python{
    width: 40%;
    background-color: green;
}

.java{
    width:50%;
    background-color: green;
}

#contact{
    display: flex;
    flex-direction: column;
    align-content:space-between;
    padding: 10px;
}

#name, #email{
    padding: 10px 20px;
    margin: 10px;
    border:none;
    
    background-color:rgb(27, 27, 27);
    color: white;
    outline:none;
    transition-duration: 0.15s;
}

#email:hover{
    color: white;
    background-color: rgb(27, 27, 27);
    border-bottom: 2px green solid;
}
#name:hover{
    color: white;
    background-color: rgb(27, 27, 27);
    border-bottom: 2px green solid;
}

#email:focus{
    color: white;
    background-color: rgb(27, 27, 27);
    border-bottom: 2px green solid;
}
#name:focus{
    color: white;
    background-color: rgb(27, 27, 27);
    border-bottom: 2px green solid;
}

#fields{
    margin-bottom: 10px;
}

#message{
    padding: 5px;
    color: white;    
    height: 25vh;
    width:30rem;
    margin-top:4px;
    margin-bottom: 4px;
    border: none;
    background-color:rgb(27, 27, 27);
    resize: none;
    outline: none;
    transition-duration: 0.15s;
}

#message:hover, #message:focus{
    margin-bottom: 2px;
    border-bottom: 2px solid green;
}


#submit{
    color: #b8b8b8;
    background-color:rgb(27, 27, 27);
    padding: 10px 20px;
    border: none;
    transition-duration: 0.15s;
}

#submit:hover{
    margin-bottom: -2px;
    border-bottom: 2px solid green;
}

@media only screen and (max-width: 600px){
    header{
        flex-direction: column;
    }
    #nav{
        margin-left:auto;
        margin-right: auto;
    }

    #message{
        width: 300px;
    }

    #about{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #link{
        margin-top: 100px;
    }
}