@import url('https://fonts.googleapis.com/css?family=Radio%20Canada:700|Radio%20Canada:400');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --text-50: #f8edf2;
    --text-100: #f0dbe6;
    --text-200: #e2b6cc;
    --text-300: #d392b3;
    --text-400: #c56d99;
    --text-500: #b64980;
    --text-600: #923a66;
    --text-700: #6d2c4d;
    --text-800: #491d33;
    --text-900: #240f1a;
    --text-950: #12070d;
    
    --background-50: #f9ebf2;
    --background-100: #f3d8e6;
    --background-200: #e7b1cc;
    --background-300: #db8ab3;
    --background-400: #cf6399;
    --background-500: #c33c80;
    --background-600: #9c3066;
    --background-700: #75244d;
    --background-800: #4e1833;
    --background-900: #270c1a;
    --background-950: #14060d;
    
    --primary-50: #fbeaf2;
    --primary-100: #f6d5e5;
    --primary-200: #edabcb;
    --primary-300: #e481b1;
    --primary-400: #db5797;
    --primary-500: #d22d7d;
    --primary-600: #a82464;
    --primary-700: #7e1b4b;
    --primary-800: #541232;
    --primary-900: #2a0919;
    --primary-950: #15040c;
    
    --secondary-50: #fce9f2;
    --secondary-100: #f9d2e5;
    --secondary-200: #f2a6cb;
    --secondary-300: #ec79b1;
    --secondary-400: #e64c96;
    --secondary-500: #df207c;
    --secondary-600: #b31963;
    --secondary-700: #86134b;
    --secondary-800: #590d32;
    --secondary-900: #2d0619;
    --secondary-950: #16030c;
    
    --accent-50: #fde8f2;
    --accent-100: #fbd0e5;
    --accent-200: #f7a1cb;
    --accent-300: #f372b0;
    --accent-400: #ef4396;
    --accent-500: #eb147c;
    --accent-600: #bc1063;
    --accent-700: #8d0c4a;
    --accent-800: #5e0832;
    --accent-900: #2f0419;
    --accent-950: #17020c;
    
  }
  .dark {
    --text-50: #12070d;
    --text-100: #250e1a;
    --text-200: #4a1c34;
    --text-300: #6f2a4e;
    --text-400: #943868;
    --text-500: #b94681;
    --text-600: #c76b9b;
    --text-700: #d590b4;
    --text-800: #e3b5cd;
    --text-900: #f1dae6;
    --text-950: #f8edf2;
    
    --background-50: #13060d;
    --background-100: #270c1a;
    --background-200: #4e1835;
    --background-300: #74254f;
    --background-400: #9b316a;
    --background-500: #c23d84;
    --background-600: #ce649d;
    --background-700: #da8bb5;
    --background-800: #e7b1ce;
    --background-900: #f3d8e6;
    --background-950: #f9ecf3;
    
    --primary-50: #15040c;
    --primary-100: #2a0919;
    --primary-200: #541232;
    --primary-300: #7e1b4b;
    --primary-400: #a82464;
    --primary-500: #d22d7d;
    --primary-600: #db5797;
    --primary-700: #e481b1;
    --primary-800: #edabcb;
    --primary-900: #f6d5e5;
    --primary-950: #fbeaf2;
    
    --secondary-50: #16030c;
    --secondary-100: #2d0619;
    --secondary-200: #590d32;
    --secondary-300: #86134b;
    --secondary-400: #b31963;
    --secondary-500: #df207c;
    --secondary-600: #e64c96;
    --secondary-700: #ec79b1;
    --secondary-800: #f2a6cb;
    --secondary-900: #f9d2e5;
    --secondary-950: #fce9f2;
    
    --accent-50: #17020c;
    --accent-100: #2f0419;
    --accent-200: #5e0832;
    --accent-300: #8d0c4a;
    --accent-400: #bc1063;
    --accent-500: #eb147c;
    --accent-600: #ef4396;
    --accent-700: #f372b0;
    --accent-800: #f7a1cb;
    --accent-900: #fbd0e5;
    --accent-950: #fde8f2;
    
  }
}



