@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  src: url(./assets/GeistVF.woff2) format('woff2');
}

/* @layer base {
  body{
    font-family: Geist, sans-serif;
  }
} */
